/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}
nav li a {
  text-decoration: none;
  color: #000;
}
li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-top: 50px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
form:invalid .buttonValider {
  background-color: gray;
  pointer-events: none;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}
/* categories */
#portfolio .buttonCat {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttonCat button {
  background-color: white;
  border-radius: 20px;
  border: 1px solid #1d6154;
  color: #1d6154;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px;
  cursor: pointer;
}
/* button categories vert */
.buttonCat button.selected {
  background-color: #1d6154;
  border-radius: 20px;
  border: 1px solid #1d6154;
  color: white;
  font-family: Syne;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px;
  cursor: pointer;
}
/* page log in */
#logIn {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logIn > * {
  text-align: center;
}

#logIn h2 {
  margin-bottom: 20px;
}

#logIn form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#logIn input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

#logIn label {
  margin: 2em 0 1em 0;
}

#logIn a {
  color: #3d3d3d;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  margin-bottom: 70px;
}

/* mode édition */
.edition {
  background-color: black;
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  display: none;
}

.edition p {
  color: white;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: context-menu;
}

.edition .fa-solid {
  color: white;
  width: 15.58px;
  height: 15.58px;
  flex-shrink: 0;
}
/* lien modifier */
.projet-modifier {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding-bottom: 50px;
}

.projet-modifier h2 {
  margin-right: 20px;
}

.projet-modifier .fa-lien {
  display: flex;
  display: none;
  gap: 10px;
}

.projet-modifier .fa-lien .fa-solid {
  color: black;
  width: 15.58px;
  height: 15.58px;
}
.projet-modifier .fa-lien a {
  text-decoration: none;
}

.projet-modifier .fa-lien a .mod {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.projet-modifier .fa-lien .mod {
  cursor: pointer;
}
/* modales */

.modale-delete {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);

  justify-content: center;
  align-items: center;
}
.modale-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 550px;
  height: 570px;
  border-radius: 10px;
}
.modale-wrapper .cross-close i {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 21px;
}
.cross-close-arrow i {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 21px;
}
.modale-wrapper p {
  color: #000;
  text-align: center;
  font-family: "Work Sans";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
  cursor: context-menu;
}
.modale-wrapper .cross-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modale-wrapper button {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  height: 30px;
  margin: 0px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.gallery-modale {
  display: flex;
  width: 400px;
  height: 400px;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: solid;
  border-color: #b3b3b3;
  margin-bottom: 20px;
}
.gallery-modale figure {
  max-width: 100%;
  max-height: 100%;
  width: 18%;
  height: 25%;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.gallery-modale figure img {
  max-width: 134%;
  max-height: 100%;

  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
}

.projet-modifier .gallery-modale figure .fa-solid {
  position: relative;
  width: 9px;
  height: 11px;
  grid-area: 1 / 2 / 2 / 3;
  color: white;
  background-color: #000;
  padding: 4.5px;
  z-index: 2;
  margin-top: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modale-post {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);

  justify-content: center;
  align-items: center;
}
.modale-post form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
  align-items: center;
}

.modale-post .file {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  width: 80%;
  margin-bottom: 30px;
}
.modale-post .file .fa-regular {
  color: #b9c5cc;
  font-size: 76px;
  padding-top: 20px;
  padding-bottom: 15px;
}
.modale-post .file input {
  padding-bottom: 10px;
}

.modale-post form input {
  height: 30px;
  margin: 0px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modale-post form select {
  height: 40px;

  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modale-post .cross-close-arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 15px;
}
.modale-post .cross-close-arrow #arrowReturn {
  font-size: 21px;
  cursor: pointer;
}
.modale-post .file p {
  font-size: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  padding-top: 5px;
}
.modale-post form label {
  font-family: "Work Sans";
  font-size: 14px;
}
.modale-post .file #new_Work {
  display: none;
}
.modale-post .file .buttonAjouter {
  background-color: #cbd6dc;
  color: #306685;
  font-family: "Work Sans";
  font-size: 14px;
  border: none;
  height: 40px;
  margin: 0px;
}
.modale-post form #title {
  width: 100%;
}
.modale-post form #category {
  width: 100%;
}
.modale-post form .category {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
  padding-bottom: 30px;
  border-bottom: solid 2px;
  border-color: #b3b3b3;
  margin-bottom: 20px;
}
.modale-post form .title {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 15px;
  padding-bottom: 15px;
}
.file #img-preview {
  display: none;
  width: 155px;
  margin-bottom: 20px;
}
.file #img-preview img {
  width: 100%;
  height: auto;
  display: block;
}
